@media screen and (max-width:991px) {

    /*custom css*/
    section {
        padding: 30px 0;

    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 20px !important;
    }

    /* 2 Navbar*/
    .header-scrolled {
        height: auto;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: 15px;
    }

    /*  banner_wrapper */
    .banner_wrapper {
        padding: 200px 0;
    }

    /*  About*/
    .about_wrapper ul.nav-pills{
        width: 61%;
        margin: auto;
    }


    /* Services*/


    /*  portfolio*/
    .portfolio_wrapper .card{
        min-height: 500px;
    }



}

@media screen and (max-width:767px) {

    /*custom css*/
    h2 {
        font-size: 25px !important;
        line-height: 48px;
    }

    h3 {
        font-size: 25px !important;
    }

    p {
        font-size: 13px !important;
        line-height: 24px !important;
    }


    /*  Navbar*/


    /*  banner _wrapper*/


    /*  About*/
    .about_wrapper ul.nav-pills{
        width: 100%;
        margin: auto;
        border: 0;
    }
    .about_wrapper ul li .nav-link{
        font-size: 13px;
        margin: auto;
    }


    /*  Services*/


    /*  portfolio*/




}